/* MOBILE ONLY */
@media (max-width: 840px) {

    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: rgb(255 255 255 / 90%);
        height: 100vh;
        border-inline-start: 1px solid #ccc;
        width: 230px;
        transform: translateX(100%);

        transition: transform .6s, box-shadow .6s;
    }
    
    body.menu-open .main-nav {
        box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
        transform: translateX(0);
    }

    .main-header .main-nav > * {
        border-block-end: 1px solid #ccc;
    }
    
    .main-header .main-nav > *:not(:last-child) {
        margin: 0;
    }
    
    .main-header .main-nav a {
        padding: 20px 20px;
        display: flex;
    }
}

/* SMALL */
@media (min-width: 640px) {
    .main-layout {
        max-width: 600px;
    }
}

/* MEDIUM */
@media (min-width: 840px) {
    .main-layout {
        max-width: 800px;
    }

    .card-layout > *:not(:first-child) {
        flex-basis: 50%;
    }

    .card-layout > *:nth-child(even) {
        padding-inline-start: 60px;
        padding-inline-end: 20px;
    }

    .card-layout > *:not(:first-child):nth-child(odd) {
        padding-inline-start: 20px;
        padding-inline-end: 60px;
    }

    .card-layout > *:first-child > *:not(.card-image) {
        margin-inline-start: 60px;
        margin-inline-end: 60px;
    }
}

/* LARGE */
@media (min-width: 1100px) {
    .main-layout {
        max-width: 1060px;
    }
    .card-layout > *:nth-child(even) {
        padding-inline-start: 80px;
        padding-inline-end: 30px;
    }

    .card-layout > *:not(:first-child):nth-child(odd) {
        padding-inline-start: 30px;
        padding-inline-end: 80px;
    }

    .card-layout > *:first-child > *:not(.card-image) {
        margin-inline-start: 80px;
        margin-inline-end: 80px;
    }

    .card-layout > * {
        margin-bottom: 128px;
    }
}
