* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: playfair;
    src: url(/fonts/playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(/fonts/ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: inconsolata;
    src: url(/fonts/inconsolata/Inconsolata-Regular.ttf);
}

/* BASE */

html {
    font-family: playfair, serif;
    color: #626262;
    line-height: 1.714;
}

body {
    margin: 0;
    font-size: .875rem;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    font-weight: normal;
}

h2 {
    font-size: 1.875rem;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: #000;
}

/* LAYOUT */

.container {
    /* max-width: 1060px; */
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container>* {
    margin-bottom: 60px;
}

/* COMPONENTS */

/* header */

.main-header {
    height: 160px;
}

.logo {
    color: #000;
    font-family: inconsolata, sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.main-nav>*:not(:last-child) {
    margin-inline-end: 100px;
}

.main-nav a {
    color: inherit;
}

.main-nav a:hover {
    color: red;
}

/* CARDS */

.card-image {
    margin-bottom: 1.875rem;
}

.card-tag {
    color: #b4ad9e;
    text-transform: uppercase;
    font-family: ubuntu, sans-serif;
    margin-bottom: 1.5rem;
}

.card-title {
    margin-bottom: 1.875rem;
}

/* NEWSLETTER */

.newsletter {
    background-color: #f0f0f0;
    text-align: center;
    padding: 60px 0 70px;
}

.newsletter-title {
    font-size: 1.875rem;
    color: #333;
    margin-bottom: 4.375rem;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* MEDIA QUERIES */

/* SMALL */

@media (min-width: 640px) {
    .container {
        max-width: 600px;
    }
}

/* MEDIUM */

@media (min-width: 900px) {
    .container {
        max-width: 860px;
    }
    .card-container>*:not(:first-child) {
        flex-basis: 50%;
    }
    .card-container>*:first-child>*:not(.card-image) {
        padding-left: 80px;
        padding-right: 80px;
    }
    .card-container>*:nth-child(even) {
        padding-inline-end: 30px;
    }
    .card-container>*:nth-child(odd):not(:first-child) {
        padding-inline-start: 30px;
    }
    .card-container>* {
        margin-bottom: 80px;
    }

    .btn-menu {
        display: none;
    }
}

/* LARGE */

@media (min-width: 1100px) {
    .container {
        max-width: 1060px;
    }
    .card-container>*:nth-child(even) {
        padding-inline-start: 80px;
    }
    .card-container>*:nth-child(odd):not(:first-child) {
        padding-inline-end: 80px;
    }
    .card-container>* {
        margin-bottom: 120px;
    }
}

@media (max-width: 900px) {

    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;

        pointer-events: none;
        
        opacity: 0;
        transition: opacity .8s;
    }
    
    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }

    .main-nav {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(255, 255, 255,  .9);
        height: 100vh;
        border-left: 1px solid #ebebeb;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .16);

        transform: translateX(100%);
        
        transition: transform .6s;
    }
    
    body.menu-open .main-nav {
        transform: translateX(0);
    }

    .main-nav > *:not(:last-child) {
        margin: 0;
    }

    .main-nav > * {
        border-bottom: 1px solid #ebebeb;
    }

    .main-nav a {
        display: block;;
        width: 200px;
        text-align: center;
        padding: 12px 0;

        transition: background-color .3s;
    }

    .main-nav a:hover {
        color: inherit;
        background-color: #f1f1f1;
    }
}